.containerFiltersAndSearchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.searchInput,
.searchButton,
.dropdownButton {
  padding: 0.8rem;
  border-radius: 0.8rem;
  outline: none;
  border: 0.01rem solid black;
}

.searchInput {
  width: 70%;
}

.searchButton {
  background-color: cadetblue;
  color: white;
  font-weight: 700;
  width: 28%;
}

.containerDropDown {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.dropdownButton {
  min-width: 10rem;
  color: white;
  background-color: tomato;
  font-weight: 700;
}

.alertText {
  font-size: 1.4rem;
  text-align: center;
  margin: 1.4rem 0;
}

@media (min-width: 768px) {
  .containerFiltersAndSearchBar {
    flex-direction: row-reverse;
    max-width: 144rem;
    margin: 0 auto;
  }

  .containerDropDown {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  .dropdownButton {
    min-width: 15rem;
  }
}

@media (min-width: 1440px) {
  .dropdownButton {
    min-width: 20rem;
  }
}
